/**
 * Loader
 */

/**
 * ======================================
 * Variables
 * ======================================
 */
$Loader-border-width: 2px;
$Loader-size: 1.25rem;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
 * ======================================
 * Block
 * ======================================
 */
.Loader {
  position: relative;
  margin: 0 5px;

  &,
  &::before {
    display: inline-block;
    vertical-align: middle;
    border: $Loader-border-width solid transparent;
    border-top-color: crimson;
    border-radius: 50%;
    width: $Loader-size;
    height: $Loader-size;
    animation: rotate 0.5s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    top: -$Loader-border-width;
    left: -$Loader-border-width;
  }
}

/**
 * ======================================
 * Elements
 * ======================================
 */
.Loader__text {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0.1;
}

/**
 * ======================================
 * Modifiers
 * ======================================
 */
.Loader--light {
  &,
  &::before {
    border-top-color: white;
  }
}
