@font-face {
  font-family: 'DriftType';
  src: url('/assets/fonts/subset-DriftType.woff2') format('woff2'), url('/assets/fonts/subset-DriftType.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
