/**
 * Error message styling
 */

/**
 * ======================================
 * Block
 * ======================================
 */
.FlashMessage {
  margin: 10px 0;
  border: 2px solid;
  border-radius: 3px;
  padding: 5px;
}

/**
 * ======================================
 * Elements
 * ======================================
 */

/**
 * ======================================
 * Modifiers
 * ======================================
 */
.FlashMessage--error {
  border-color: crimson;
  color: crimson;
}

.FlashMessage--info {
  border-color: goldenrod;
  color: darkgoldenrod;
}

.FlashMessage--success {
  border-color: greenyellow;
  color: green;
}
