/**
 * App base
 */

/**
 * ======================================
 * Block
 * ======================================
 */
.App {
}

/**
 * ======================================
 * Elements
 * ======================================
 */
.App__header {
  margin: 10px 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 20px 10px;
  text-align: center;
  color: white;
  background: crimson;
  box-shadow: 0 0 0 10px crimson;
}

.App__title {
  font-family: 'DriftType', sans-serif;
  font-size: 24px;

  @media screen and (min-width: 30em) {
    font-size: 32px;
  }

  @media screen and (min-width: 40em) {
    font-size: 48px;
  }
}

.App__main {
  display: block;
  margin: auto;
  padding: 10px;
  max-width: 40em;
}

.App__nav {
  margin-top: 10px;
  margin-bottom: -10px;
}

.App__nav-item {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;

  &:focus,
  &:hover,
  &.is-active {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
  }
}

/**
 * ======================================
 * Modifiers
 * ======================================
 */
