/**
 * LoginForm
 */

/**
 * ======================================
 * Block
 * ======================================
 */
.LoginForm {
  overflow: hidden;
}

/**
 * ======================================
 * Elements
 * ======================================
 */
.LoginForm__row {
  display: block;
  margin-bottom: 10px;
}

.LoginForm__submit {
  float: right;
}

/**
 * ======================================
 * Modifiers
 * ======================================
 */
