/**
 * Jokes list
 */

/**
 * ======================================
 * Block
 * ======================================
 */
.JokesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  list-style: none;

  @media (min-width: 480px) {
    margin: 0 -3%;
  }
}

/**
 * ======================================
 * Elements
 * ======================================
 */
.JokesList__item {
  position: relative;
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(black, 0.2), 0 2px 6px rgba(black, 0.1);
  background: #f1f1f1;

  @media (min-width: 480px) {
    align-items: stretch;
    flex-basis: 44%;
    margin: 3%;
    background: none;
  }
}

.JokesList__text {
  flex: 1 1 100%;
  border-radius: 5px 0 0 5px;
  padding: 20px;

  @media (max-width: 479px) {
    margin-right: 20px;
    border-right: 1px solid #ddd;
    background: white;
  }
}

.JokesList__button {
  transition: all 0.1s ease;
  position: relative;
  flex: 0 0 auto;
  margin-right: 4%;
  border: 2px solid crimson;
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: crimson;
  background: white;

  &--unfavorite {
    background: crimson;

    .JokesList__button-icon {
      fill: crimson;
      color: white;
    }
  }

  &:focus,
  &:hover {
    outline: 0;
  }

  &--favorite {
    &:focus,
    &:hover {
      .JokesList__button-icon {
        fill: crimson;
      }
    }
  }

  &--unfavorite {
    &:focus,
    &:hover {
      .JokesList__button-icon {
        color: crimson;
        fill: white;
      }
    }
  }

  @media (min-width: 480px) {
    transform: translate(50%, -50%);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}

.JokesList__button-icon {
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  fill: white;
}

/**
 * ======================================
 * Modifiers
 * ======================================
 */
