@import 'normalize.css/normalize';
@import 'sass/font-face.scss';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: navy;
}

button {
  transition: all 0.1s ease;
  border: 2px solid crimson;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
  color: white;
  background: crimson;

  &[disabled] {
    cursor: not-allowed;
    border-color: #aaa;
    color: black;
    background-color: #ddd;
  }

  &:focus {
    outline: 0;
  }
}

form {
  display: block;
  margin: auto;
  max-width: 320px;
}

label {
  display: block;
}

input:not([type='radio']):not([type='checkbox']):not([type='range']) {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}
